@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
  background: linear-gradient(to bottom, #0c5f6b, #303539);

  border: 1px solid #333;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
header {
  color: #e1f8e9;
}
.container {
  width: 100%;
  display: flex;
  padding: 0 20px;
}
.slide {
  height: 80vh;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  color: #fff;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 500ms ease-in-out;
}
.slide h3 {
  position: absolute;
  font-size: 24px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}
.slide h5 {
  position: absolute;
  font-size: 18px;
  bottom: 60px;
  left: 20px;
  margin: 0;
  opacity: 0;
}
.slide hr {
  position: absolute;
  background-color: #fff;
  color: #fff;
  height: 2px;
  bottom: 55px;
  left: 20px;
  margin: 0;
  opacity: 0;
  width: 200px;
  border: none;
}

.slide.active {
  flex: 10;
}
.slide.active h3,
.slide.active hr,
.slide.active h5 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}
